name: push docker image

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    if: github.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: login
        run: |
          docker login \
            --username '${{ secrets.DOCKER_USERNAME }}' \
            --password '${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}'
      - name: setup-qemu
        run: |
          docker run --rm --privileged multiarch/qemu-user-static \
            --reset \
            -p yes
      - name: build-and-push-amd64
        run: |
          docker build . \
            -f Dockerfile.amd64 \
            -t $DOCKER_REPO:git-${{ github.sha }}-amd64 \
            --build-arg COMMIT=git-${{ github.sha }}
          docker push $DOCKER_REPO:git-${{ github.sha }}-amd64
      - name: build-and-push-arm64v8
        run: |
          docker build . \
            -f Dockerfile.arm64v8 \
            -t $DOCKER_REPO:git-${{ github.sha }}-arm64v8 \
            --build-arg COMMIT=git-${{ github.sha }}
          docker push $DOCKER_REPO:git-${{ github.sha }}-arm64v8
      - name: merge-manifest-and-push
        run: |
          docker manifest create $DOCKER_REPO:git-${{ github.sha }} \
            --amend $DOCKER_REPO:git-${{ github.sha }}-amd64 \
            --amend $DOCKER_REPO:git-${{ github.sha }}-arm64v8
          docker manifest push $DOCKER_REPO:git-${{ github.sha }}
